<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
    
    <div class="register-container">
        <form id="registerForm" action="/account/register" method="post" class="register-form">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="account_firstname" name="account_firstname" required value="<%= locals.account_firstname %>">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="account_lastname" name="account_lastname" required value="<%= locals.account_lastname %>">
            </div>
            <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" id="account_email" name="account_email" placeholder="Enter a valid email address" required value="<%= locals.account_email %>">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="account_password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" title="Password do not meet requirements">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
            <div class="requirements">
                <p class="password-requirements">
                    Password must be:
                <ul>
                    <li>At least 12 characters long</li>
                    <li>Contain at least 1 capital letter</li>
                    <li>Contain at least 1 number</li>
                    <li>Contain at least 1 special character</li>
                    </ul>
                </p>
                <p class="form-note">All fields are required</p>
            </div>
        </form> 
        <p class="login-link">Already have an account? <a href="/account/login">Login here</a></p>
    </div>