<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <% if (errors) { %>
      <ul class="notice">
     <% errors.array().forEach(error => { %>
       <li><%= error.msg %></li>
    <%  }) %>
     </ul>
  <% } %>

    <% if (notice) { %>
        <div class="alert alert-warning">
          <%= notice %>
        </div>
    <% } %>
      

    <div class="add-inventory-container">
        <h2>Edit Account Information</h2>
        <form id="editAccountForm" action="/account/update" method="post" class="form-add-inventory">
            <div class="form-group">
                <label for="account_firstname">First Name</label>
                <input type="text" id="account_firstname" name="account_firstname" value="<%= locals.account_firstname %>" required placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="account_lastname">Last Name</label>
              <input type="text" id="account_lastname" name="account_lastname" value="<%= locals.account_lastname %>" required  placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="account_email">Email</label>
              <input type="email" id="account_email" name="account_email" value="<%= locals.account_email %>" required placeholder="Email">
            </div>
           
            <input type="hidden" name="account_id" id="account_id" <% if(locals.account_id) { %> value="<%= locals.account_id %>" <% } %>>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" >Update Account</button>
            </div>
        </form>
        <h2>Change Password</h2>
        <form id="changePasswordForm" action="/account/change-password" method="post" class="form-add-inventory">
           
            <div class="form-group">
              <label for="password"> New Password:</label>
              <input type="password" id="account_password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" title="Password do not meet requirements">
            </div>
       
            <input type="hidden" name="account_id" id="account_id"  <% if(locals.account_id) { %> value="<%= locals.account_id %>" <% } %>>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"  >Update Password</button>
            </div>
        </form>
    </div>


