<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <div id="wrapper" class="wrapper"> 
      <%- include('../partials/header') %>
      <%- include('../partials/navigation') %>
      <main>
        <% if (typeof notice !== 'undefined') { %>
          <div class="notice">
            <%= notice %>
          </div>
        <% } %>
        <%- body %>
      </main>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
